/* You can add global styles to this file, and also import other style files */
.warning {
  margin-top: 5px;
  padding: 8px;
  background-color: #fff3cd;
  border-radius: 5px;
  color: #856404;
  font-size: 13px;
}
